[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-environ = "*"
pre-commit = "*"
psycopg2 = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
django-stubs = "*"
django-extra-fields = "*"
gunicorn = "*"
django-on-heroku = "*"
whitenoise = "*"

[dev-packages]
flake8 = "*"
black = "*"
mypy = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
